.features {
    &-page {
        min-height: 660px;
        width: 100vw;
        @include center();
        flex-wrap: wrap;
        //padding: 50px, 0, 50px, 0;
        padding: 0;
    }
    &-wrap {
        width: $cont;
        @include center_sb();
    }
}

.feature {
    height: 355px;
    width: 350px;
    padding: 10px 0 10px 0;
    position: relative;
    &__bg {
        height: 250px;
        width: 350px;
        border-radius: 8px;
    }
    &-info {
        position: absolute;
        width: 300px;
        height: 200px;
        background-color: #fff;
        border-radius: 8px;
        transform: translateY(-95px) translateX(25px);
        color: #101010;
        flex-wrap: wrap;
        padding: 25px 35px 20px 35px;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
        @include center();
        &__head {
            @include min-title;
            text-align: center;
        }
        &__text {
            height: 32px;
            @include smole;
            text-align: center;
        }
        &__link {
            a {
                color: $pink;
                @include smole;
            }
        }
    }
}