.footer {
    width: 100vw;
    min-height: 435px;
    background: #FAFAFA;
    @include center();
    &-wrap {
        width: 90vw;
    }
    &-lists {
        min-height: 300px;
        @include center_sb();
        align-items: flex-start;
        flex-wrap: wrap;
    }
    &-botton {
        width: 90vw;
        height: 20px;
    }
}

.list {
    max-width: 20vw;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    a {
        color: #101010;
    }
    &__header {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #101010;
        padding-bottom: 30px;
        a {
            color: #101010;
        }
    }
}