.footer {
    width: 100vw;
    min-height: 435px;
    background: #FAFAFA;
    @include center();
    &-wrap {
        width: $cont;
    }
    &-lists {
        min-height: 300px;
        @include center_sb();
        align-items: flex-start;
        flex-wrap: wrap;
    }
    &-botton {
        width: $cont;
        height: 20px;
    }
}

.list {
    max-width: 20vw;
    @include smole;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    a {
        color: #101010;
    }
    &__header {
        @include min-title;
        color: #101010;
        padding-bottom: 30px;
        a {
            color: #101010;
        }
    }
}