.technology {
    &-page {
        @include size_standard();
        flex-wrap: wrap;
        @include center();
    }
    &-block {
        @include center_sb();
        width: 90vw;
    }
}

.tech {
    width: 255px;
    height: 226px;
    @include center();
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    &__bgnum {
        width: 80%;
        font-style: normal;
        font-weight: bold;
        font-size: 100px;
        line-height: 120px;
        @include center();
        color: rgba(16, 16, 16, 0.08);
        width: 117px;
        height: 120px;
    }
    &__img {
        position: absolute;
        transform: translateY(58px);
    }
    &__head {
        width: 80%;
        font-style: normal;
        font-weight: bold;
        font-size: $midle;
        line-height: 22px;
        text-align: center;
    }
    &__text {
        width: 75%;
        font-style: normal;
        font-weight: normal;
        font-size: $smole;
        line-height: 14px;
        text-align: center;
        padding-bottom: 30px;
    }
}