.header {
    &-front {
        background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
        @include size();
        z-index: 1;
        position: absolute;
    }
    &-under {
        position: absolute;
        z-index: 0;
        background-image: url(/img/fon_title.jpg);
        background-size: cover;
        @include size();
    }
    &-page {
        z-index: 2;
        position: relative;
        @include size();
        @include center();
    }
}

.title {
    @include center();
    padding-top: 100px;
    z-index: 2;
    flex-wrap: wrap;
    max-width: 540px;
    color: #fff;
    &__heading {
        @include title;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }
    &__text {
        max-width: 500px;
        @include midle-title;
        text-align: center;
        padding: 30px 0 30px 0;
    }
}

.btn-white {
    @include center();
    width: 160px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 6px;
    @include standard;
    font-weight: 600;
    color: $pink;
    text-transform: uppercase;
}