.video {
    &-page {
        width: 100vw;
        min-height: 400px;
        @include center();
    }
    &-wrap {
        @include center_sb();
        width: $cont;
        min-height: 400px;
    }
    &-block {
        width: 100%;
        min-height: 400px;
        padding-left: 18px;
        @include center_sb();
    }
}

#video {
    width: 480px;
    height: auto;
    border-radius: 15px;
}

.video-controler {
    height: 66px;
    width: 66px;
    cursor: pointer;
    background-color: $pink;
    border-radius: 50%;
    position: absolute;
    transform: translateY(0px) translateX(-33px);
    z-index: 4;
    @include center();
    &__img {
        height: 65px;
        width: 65px;
    }
}