@mixin size() {
    height: 100vh;
    width: 100vw;
}

@mixin size_standard() {
    min-height: 500px;
    width: 100vw;
}

@mixin content() {
    width: 90vw;
}

@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center_sb() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}