//color
$red: #EE3D1B;
$pink:#D52047;
//font-family
$lato:'Lato',
sans-serif;
//font-size
$biger: 7.2rem;
$midle-biger: 5.5rem;
$big: 3.6rem;
$big-smole: 3.2rem;
$midle-big: 2.4rem; //150%
$midle: 1.8rem;
$midle-smole:1.6rem;
$norm: 1.4rem;
$smole: 1.2rem;
//line-hight
$lh-big: 8.6rem;
$lh-big_smole:4.3rem;
$lh-mid_big: 2.6rem; //160%
$lh-midle: 2.2rem; //140%
$lh-mid_smole:1.9rem;
$lh-smole: 1.7rem;
//size
$cont:84vw;
// font-widht
$font-w600: 600;