.contact-row {
    @include size_standard();
}

.feedback {
    width: 540px;
    height: 305px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    &__input {
        border: 1px solid #333333;
        box-sizing: border-box;
        border-radius: 6px;
        &::-webkit-input-placeholder {
            padding-left: 20px;
        }
        &:-moz-placeholder {
            padding-left: 20px;
        }
        &::-moz-placeholder {
            padding-left: 20px;
        }
        &:-ms-input-placeholder {
            padding-left: 20px;
        }
    }
    &__name {
        width: 255px;
        height: 60px;
    }
    &__rest {
        width: 540px;
        height: 60px;
    }
    &__btn {
        width: 160px;
        height: 50px;
        background: #ED4C5C;
        border: 1.5px solid #ED4C5C;
        box-sizing: border-box;
        border-radius: 6px;
        font-style: normal;
        font-weight: normal;
        font-size: $norm;
        line-height: 17px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}